<div class="row mb-2">
  <div class="offset-lg-10 offset-md-8 offset-sm-6 col-lg-1 col-md-2 col-sm-3 col-6 text-right">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="modeChange($event)">
      <label class="custom-control-label" for="customSwitch1" title="Toggle table mode">Mode</label>
    </div>
  </div>
  <div class="col-lg-1 col-md-2 col-sm-3 col-6">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch2" (change)="tableLayoutChange($event)">
      <label class="custom-control-label" for="customSwitch2" title="Toggle table layout">Layout</label>
    </div>
  </div>
</div>